body {
    background-color: #F7EFE5;
}

h1, p {
    color: #7743DB 
}

.containercolor {
    background-color: #C3ACD0;
    border-radius: 2%;
}

.divisor {
    height: 3rem;
}

button {
    background-color: #7743DB !important;
}

h1, p, span {
    font-family: 'Nunito', sans-serif;;
}


